.linked-list {
 list-style-type:none;
 padding:0;
 margin:0
}

.linked-list__item {
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 padding-top:116px;
 overflow:visible
}

.linked-list__pic-box {
 min-width:600px;
 max-width:600px;
 -webkit-align-self:stretch;
 -ms-flex-item-align:stretch;
 align-self:stretch;
 position:relative;
 text-align:center
}

.linked-list__pic-box:before {
 content:"";
 position:absolute;
 left:50%;
 bottom:-webkit-calc(100% + 17px);
 bottom:calc(100% + 17px);
 width:2px;
 height:82px;
 -webkit-transform:translateX(-50%);
 -ms-transform:translateX(-50%);
 transform:translateX(-50%);
 background-color:#FF0000;
 opacity:.24
}

.linked-list__pic {
 max-width:100%
}

@media (min-width:768px) {
 .linked-list__item {
  -webkit-box-align:center;
  -webkit-align-items:center;
  -ms-flex-align:center;
  align-items:center
 }
}
@media (min-width:961px) {
 .linked-list__pic-box {
  margin-right:64px
 }
}
@media (max-width:767px) {
 .linked-list__item {
  -webkit-flex-wrap:wrap;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  -webkit-box-pack:center;
  -webkit-justify-content:center;
  -ms-flex-pack:center;
  justify-content:center
 }
 .linked-list-info {
  width:100%;
  text-align:center
 }
}
@media (min-width:768px) and (max-width:960px) {
 .linked-list__pic-box {
  margin-right:32px
 }
}

.features-container-r {
  padding-left:9%;
  padding-right:9%;
 }

 @media (max-width:767px) {
 .features-content {
  margin-top:51px
 }
 .features-sidebar .container:after {
  content:"";
  display:block;
  width:100%;
  height:1px;
  opacity:0
 }
}
@media (min-width:768px) and (max-width:960px) {
 .features-sidebar {
  padding-top:75px
 }
 .features-sidebar-inner {
  padding-right:16px
 }
 .features-container-r {
  padding-left:16px
 }
}

.process_box{
  margin: 40px;
  width: 200px;
  height: 100px;
}

.process_box img{
  width: 80%;
  height: 100%;
}