.linked-list {
 list-style-type:none;
 padding:0;
 margin:0
}

.linked-list__item {
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 padding-top:4%;
 overflow:visible
}

.linked-list__item:last-child{
  margin-bottom: 5%;
}

.linked-list__pic-box {
 /*min-width:600px;*/
 max-width:600px;
 -webkit-align-self:stretch;
 -ms-flex-item-align:stretch;
 align-self:stretch;
 position:relative;
 text-align:center
}

/*.linked-list__pic-box:before {
 content:"";
 position:absolute;
 left:50%;
 bottom:-webkit-calc(100% + 17px);
 bottom:calc(100% + 17px);
 width:2px;
 height:82px;
 -webkit-transform:translateX(-50%);
 -ms-transform:translateX(-50%);
 transform:translateX(-50%);
 background-color:#FF0000;
 opacity:.24
}*/

.linked-list__pic {
 max-width:100%;
 width: 500px;
 height: 300px;
}

@media (min-width:768px) {
 .linked-list__item {
  -webkit-box-align:center;
  -webkit-align-items:center;
  -ms-flex-align:center;
  align-items:center
 }
}
@media (min-width:961px) {
 .linked-list__pic-box {
  /*margin-right:64px*/
 }
}
@media (max-width:767px) {
 .linked-list__item {
  -webkit-flex-wrap:wrap;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  -webkit-box-pack:center;
  -webkit-justify-content:center;
  -ms-flex-pack:center;
  justify-content:center
 }
 .linked-list-info {
  width:100%;
  text-align:center;
 }
}
@media (min-width:768px) and (max-width:960px) {
 .linked-list__pic-box {
  margin-right:32px
 }
}

.features-container-r {
  padding-left:9%;
  padding-right:9%;
 }

 @media (max-width:767px) {
 .features-content {
  margin-top:51px
 }
 .features-sidebar .container:after {
  content:"";
  display:block;
  width:100%;
  height:1px;
  opacity:0
 }
}
@media (min-width:768px) and (max-width:960px) {
 .features-sidebar {
  padding-top:75px
 }
 .features-sidebar-inner {
  padding-right:16px
 }
 .features-container-r {
  padding-left:16px
 }
}
/*.process_box:first-child{
  border: 2px solid;
}
.process_box{
  border-right: 2px solid;
  border-bottom: 2px solid;
  border-top: 2px solid;
}*/
.process_box{
  padding: 2px;
}
.process_box:hover, .process_box:active{
  background-color: #2b4368;
  opacity: 0.5;
  border: 2px solid white;
}
.process_box_img{
  width: 50%;
  height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.process_box p, .process_box h4{
  text-align: center;
}

.twist_box_1{
  background-image:url(../images/ML_module.jpg); 
  background-size: 100% 100%;
}

.twist_box_2{
  background-image:url(../images/Image_processing.jpg); 
  background-size: 99.2% 100%;
  background-repeat: no-repeat;
}

.twist_box_3{
  background-image:url(../images/selling_module.jpg); 
  background-size: 100% 100%;
}

.features-title{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.features-text{
  text-align: center;
}

.line {
    position: absolute;
    left: 49%;
    top: 0;
    bottom: 0;
    width: 1px;
    background: black;
    z-index: 1;
    height: 150%;
}

.line:last-child{
  height: 40%;
}

.wordwrapper {
    text-align: center;
    height: 12px;
    position: absolute;
    left: 40%;
    right: 40%;
    top: 50%;
    margin-top: -12px;
    z-index: 2;
}

.word {
    color: black;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 3px;
    font: bold 12px arial,sans-serif;
    background: #fff;
    border: 2px solid black;
    border-radius: 20px;
}

.carousel-content {
  position: absolute;
  top: 30%;
  left: 10%;
  z-index: 20;
  color: white;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.carousel-content p{
  width: 8em;
  font-size: 40px;
  word-wrap: break-word;
}

.carousel-caption {
  position: absolute;
  top: 30%;
  left: 75%;
  z-index: 20;
  color: white;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.carousel-caption p{
  width: 10em;
  font-size: 25px;
  word-wrap: break-word;
}


.first_page_carousel-1{
  position: absolute;
  width: 100%;
  height: 700px;
  background: url('../images/bg_3.jpg') center center no-repeat; 
  background-size: cover;
}


.first_page_carousel-1:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to right,black 20%, rgba(255,0,0,0) 50%, black);
  opacity: .6; 
}

.first_page_carousel-2{
  position: absolute;
  width: 100%;
  height: 700px;
  background: url('../images/bg_2.jpg') center center no-repeat; 
  background-size: cover;
}


.first_page_carousel-2:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to right,black 20%, rgba(255,0,0,0) 50%, black);
  opacity: .6; 
}

.first_page_carousel-3{
  position: absolute;
  width: 100%;
  height: 700px;
  background: url('../images/bg_6.jpg') center center no-repeat; 
  background-size: cover;
}


.first_page_carousel-3:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to right,black 20%, rgba(255,0,0,0) 50%, black);
  opacity: .6; 
}

.navbar-nav > li {
  float: left;
  position: relative;
}

.navbar-nav .active a::after {
  border-bottom: 2px solid #5bc0eb;
  bottom: 10%;
  content: " ";
  left: 0;
  position: absolute;
  right: 0;
}

.list-inline{
  padding-left: 5%;
}

.text_box{
  margin-top: 2%; 
  padding-left: 20px;
}

.learn_more{
  border: 5px solid gray; 
  display: inline-block; 
  color: white; 
  padding: 5px;
}
.top-buffer { 
  margin-top:20px;
}
body{
  /*overflow-x: hidden;*/
}
#ftco-navbar{
  box-shadow: 1px 1px #888888;
}

.twist_box_3, .twist_box_2{
  height: 250px;
}
.twist_box_1{
  height: 160px;
}

.text_box .heading{
  font-size: 35px;
  color: white;  
}

.text_box .sub-text{
  color: white;
}

@media screen and (max-width: 768px) {
  .wrapper {
    visibility: hidden;
    display: none;
  }
  .twist_box_3, .twist_box_2, .twist_box_1{
    height: 200px;
    width: 100%;
    margin: 3px;
  }
}

.our_process_link{
  display: inline-block; 
  color: white
}