html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.design-process-section .text-align-center {
    line-height: 25px;
    margin-bottom: 12px;
}
.design-process-content {
    position: relative;
}
.design-process-content h3 {
    margin-bottom: 16px;
}
.design-process-content p {
    line-height: 26px;
    margin-bottom: 12px;
}
.process-model {
    list-style: none;
    padding: 0;
    position: relative;
    margin: 20px;
    border: none;
    z-index: 0;
    background-image: url('../images/our_process/process_background.jpg'); background-size: 100% 100%;
}
.process-model li {
    display: inline-block;
    width: 23%;
    text-align: center;
    float: none;
    padding: 20px;
    margin: 1%;
    border: 2px solid grey;
}
.nav-tabs.process-model > li.active > a, .nav-tabs.process-model > li.active > a:hover, .nav-tabs.process-model > li.active > a:focus, .process-model li a:hover, .process-model li a:focus {
    border: none;
    background: transparent;

}
.process-model li a {
    padding: 0;
    border: none;
    color: #606060;
}
.process-model li.active {
    color: #57b87b;
    background-color: white;
    margin-bottom: -6%;
    border: 2px solid white;
}
.process-model li.active a,
.process-model li.active a:hover,
.process-model li.active a:focus {
    color: #57b87b;
}
.process-model li.active p {
    font-weight: 600;
}
.process-model li.active h2 {
    color: black;
}
.process-model li p {
    font-size: 14px;
    margin-top: 11px;
}
.process-model li h2{
    color: white;
}
.process-model.contact-us-tab li.visited a, .process-model.contact-us-tab li.visited p {
    color: #606060!important;
    font-weight: normal
}
.process-model.contact-us-tab li::after  {
    display: none; 
}
.process-model.contact-us-tab li.visited i {
    border-color: #e5e5e5; 
}

.process_box_img{
    width: 100%;
    height: 100px;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 20px;
    margin-bottom: 20px;
    transform: scale(1.5);
}

.sub-section-box{
    height: 300px;
    padding-top: 30px;
}

.process_icon_img{
    width: 100px;
    height: 100px;
}

.description-img{
    width: 100%; 
    height: 40vh;
}
.description-text{
    position: absolute; 
    /*top: 150px; */
    /*left: 5%; */
    margin: 20px; 
    text-align: center;
    background-color: white;
}
.description-text h2{
    font-size: 2vw; 
    color: black; 
    width: 80vw;
}
.header_text{
    margin-left: 5%; 
    margin-right: 5%; 
    border-top: 2px solid blue; 
    border-bottom: 2px solid blue; 
    margin-bottom: 40px; 
    margin-top: 20px; 
}
.process-header{
    margin-left: auto; 
    margin-right: auto; 
    font-size: 40px; 
    font-weight: bold; 
    color: white;
}
#process-tab{
    padding: 0px;
}
@media screen and (max-width: 560px) {
  .more-icon-preocess.process-model li span {
        font-size: 23px;
        height: 50px;
        line-height: 46px;
        width: 50px;
    }
    .more-icon-preocess.process-model li::after {
        top: 24px;
    }
}
@media screen and (max-width: 560px) { 
    .process-model.more-icon-preocess li {
        width: 23%;
        padding: 0;
    }
    h2, .h2{
        font-size: 1rem;
    }
    .more-icon-preocess.process-model li span {
        font-size: 16px;
        height: 35px;
        line-height: 32px;
        width: 35px;
    }
    .more-icon-preocess.process-model li p {
        font-size: 8px;
    }
    .more-icon-preocess.process-model li::after {
        top: 18px;
    }
    .process-model.more-icon-preocess {
        text-align: center;
    }
    .description-text{
        left: 0;
    }
    .description-text h2{
        font-size: 15px;
        width: 80vw;
    }
    .description-img{
        height: 200px;  
    }
    .process-header{
        font-size: 30px;
    }
}